#strona, #menu{

    min-height: 350px;
    border:1px dotted #999999;
    background-color: rgba(30, 30, 30, 0.425)
}
.logo{
    background-color: rgba(137, 137, 137, 0.425);
    height: 180px;   
}
#log{
    font-size:20px;
    color:rgba(255,0,0,0.55);
    position:fixed;
    top:0px;
    left: 90%;
    font-weight: bolder;
    background-color:rgba(255,255,255,0.21);
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
#log:hover{
    background-color:rgba(255,255,255,0.51) ;
    border-radius: 0px 0px 10px 10px;
}

thead{
    font-weight: bold;
    background-color: rgba(18, 18, 18, 0.425);

}
td{
    color:#EEEEEE;
    font-size:17px;
    text-shadow: 0px 0px 20px #ffffff;
}
body{
    background-image: url('../images/tlo.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    color:#cfcfcf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
hr{
    color: rgba(255, 255, 255, 0.99);
}

#sekcjaLogowania{
    margin:auto;
    
}